@font-face {
    font-family: 'Nosifer-Regular';
    src: url(../fonts/Nosifer-Regular.ttf);   /* 400 */
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);   /* 300 */
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);   /* 400 */
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);   /* 500 */
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);   /* 700 */
}

